.Buttons{
    height: 10vh;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular{
    height: 100%;
    width: 15%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.5vw;
}

.popular button{
    padding: .7vw 2vw;
    font-size: 1.1vw;
    border-radius: 7px;
    border: 1px rgb(189, 189, 189) solid;
    background-color: transparent;
}

.popularIcon{
    font-size: 1.3vw;
}

.Button{
    height: 100%;
    width: 70%;
    /* background-color: rgb(111, 131, 244); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.Button button{
    padding: .7vw;
    font-size: .9vw;
    background: none;
    border: none;
    font-weight: 550;
}

#discover{
    border: 1px rgb(246, 241, 234) solid;
    border-radius: 50px;
    background-color: rgb(246, 241, 234);
    padding: .7vw 1.4vw;
}

.filter{
    height: 100%;
    width: 15%;
    /* background-color: rgb(233, 196, 31); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.5vw;
}

.filter button{
    padding: .7vw 2vw;
    font-size: 1vw;
    border-radius: 50px;
    border: 1px rgb(189, 189, 189) solid;
    background-color: transparent;
}


.filterIcon{
    font-size: 1.3vw;
}

.cards{
    width: 100%;
    height: fit-content;
    /* border-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.4vw;
}

.card{
    height: 40vh;
    width: 22%;
    /* background-color: aqua; */
    border-radius: 10px;
    overflow: hidden;
}

.card-image{
    height: 85%;
    width: 100%;
    /* background-color: blue; */
}

.card-image img{
    border-radius: 10px;
}

.card-info{
    height: 15%;
    width: 100%;
    /* background-color: rgb(21, 21, 49); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-card-info{
    height: 100%;
    width: 10%;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-card-info img{
    border-radius: 50%;
}

.mid-card-info{
    height: 100%;
    width: 60%;
    /* background-color: rgb(42, 246, 246); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

.mid-card-info h6{
    font-size: 1.1vw;
    font-weight: 400;
}

.mid-card-info button{
    padding: .2vw .4vw;
    font-size: .8vw;
    font-weight: 600;
    background-color: rgb(196, 196, 196);
    color: white;
    border: none;
    border-radius: 3px;
}

.right-card-info{
    height: 100%;
    width: 30%;
    /* background-color: rgb(7, 76, 76); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7vw;
    font-size: 1vw;
    color: rgb(176, 174, 174);
}

.likes{
    display: flex;
    gap: .3vw;
}

.views{
    display: flex;
    gap: .2vw;
}

.right-card-info h5{
    color: rgb(51, 51, 51);
} 



